*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}

header{
    padding: 30px;
    text-align: center;
    height: 160px;
    color: rgb(255, 251, 0);
    -webkit-text-stroke: 2px brown;
    font-size: 32px;
    /* background-image: repeating-linear-gradient(-45deg, #ffffff 0px, #ffffff 20px, #eb4a4a 20px, #eb4a4a 40px); */
    background-image: repeating-linear-gradient(-45deg, #ffffff -10px, #ffffff 30px, #eb4a4a 20px, #eb4a4a 60px);
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: red;
}


.row{
    display: flex;
    flex-wrap: wrap;
}
.par{
    /* background-color: khaki; */
    background: linear-gradient(red, white);
    padding: 20px;
    flex: 100%;
}
.caja{
    display: flex;
    flex-wrap: wrap;
}
.map{
    margin: 0 0 0 10px;
}
.parrafo{
    background-color: rgba(247, 252, 236, 0.300); /* despues le saco el color */
    padding: 2px 0 0 10px;
    display: inline-block;
    flex: 60%;
    height: 200px;
}

.impar{
    /* background-color: rgb(168, 240, 140); */
    background: linear-gradient(yellow, white);
    padding: 20px;
    flex: 100%;
    flex-direction: row;
    text-align: center;
}
.box{
    color: black;
    height: 150px;
    width: 150px;
    background-color: rgb(236, 156, 90);
    padding: 20px;
    margin:20px;
    display: inline-block;
}
.impar h2{
    text-align: left;
}
.impar img{
    height: 100px;
    width: 100px;
    
}
.box:hover{
    height: 200px;
    width: 200px;
    background-color: rgb(228, 80, 80);
    font-size: 18px;
}
.box:hover img{
    height: 150px;
    width: 150px;
}

.pedidos_ya{
    text-align: center;
}
.pedidos{
    text-decoration: none;
    color: red;
}
.pedidos_btn{
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 16px;
    border-radius: 5px;
    border: 2px double rgb(190, 1, 1);
    padding: 8px;
    /* height: 50px;
    width: 100px; */
}
.pedidos_btn:hover{
    background-color: rgb(240, 49, 49);
}
/*
.impar img{
    height: 100px;
    width: 100px;
    
}*/
.box_red{
    height: 150px;
    width: 150px;
    background-color: rgb(236, 156, 90);
    padding: 20px;
    margin:20px;
    display: inline-block;
}
.box_red:hover{
    background-color: rgb(228, 80, 80);
}

footer{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* text-align: center; */
    justify-content: space-around;
    background-color: rgb(85, 82, 82);
}

@media screen and (max-width: 500px){
    nav, .row{
        flex-direction: column;
    }
}